{% extends "components/robot_main.html" %}
{% load static %}

<!-- Contenu de la page-->
{% block detail_content %}
<div>
  <h3>Armin : {{armin_robot.name}}</h3>
  <div>
    Dernière mise à jour : <span id="last_update"></span>
    <br>
    Pièce à faire : {{i_HmiOpc_set_nbPartsToDo}}
    <br>
    Pièce OK : {{i_HmiOpc_get_nbPartsDone}}
    <br>
    Pièce NOK : <span id="plc:i_HmiOpc_get_nbPartsRejected"></span>
    <br>
    <iframe src="http://localhost:3000/d-solo/I7ysy1emk/new-dashboard-copy?orgId=1&from=1555294312903&to=1555315912903&panelId=4" width="450" height="200" frameborder="0"></iframe>
  </div>
</div>
{% endblock detail_content %}

{% block scripts %}
<script>
  var data_hmi = JSON.parse('{{data_hmi | safe}}');

  console.log(JSON.stringify(data_hmi));
  console.log('{{current_time}}');

  document.getElementById('last_update').innerHTML = last_update('{{current_time}}')
  document.getElementById('plc:i_HmiOpc_get_nbPartsRejected').innerHTML = data_hmi['plc:i_HmiOpc_get_nbPartsRejected'];

  function last_update(current_time) {
    let date = current_time.substring(8,10) + current_time.substring(4,8) + current_time.substring(0,4);
    let time = current_time.substring(11, 19);
    return date + ' - ' + time;
  }
</script>
{% endblock scripts %}
