{% extends "base.html" %}
{% load static %}

<!-- Nom d'onglet -->
{% block head_title%}
{{armin_robot.name}}
{% endblock head_title%}

<!-- Contenu de la page-->
{% block content %}
{% if autorisation %}
<div class="container">
  <h3>Armin : {{armin_robot.name}}</h3>
  <div>
    Dernière mise à jour : <span id="last_update"></span>
    <br>
    Pièce à faire : {{i_HmiOpc_set_nbPartsToDo}}
    <br>
    Pièce OK : {{i_HmiOpc_get_nbPartsDone}}
    <br>
    Pièce NOK : <span id="plc:i_HmiOpc_get_nbPartsRejected"></span>
  </div>
</div>
{% else %}
<div>
  <h3>Pas autorisé à consulter ce robot</h3>
</div>
{% endif %}
{% endblock content%}


{% block styles %}{% endblock styles %}
{% block scripts %}
<script>
  var data_hmi = JSON.parse('{{data_hmi | safe}}');

  console.log(JSON.stringify(data_hmi));
  console.log('{{current_time}}');

  document.getElementById('last_update').innerHTML = last_update('{{current_time}}')
  document.getElementById('plc:i_HmiOpc_get_nbPartsRejected').innerHTML = data_hmi['plc:i_HmiOpc_get_nbPartsRejected'];

  function last_update(current_time) {
    let date = current_time.substring(8,10) + current_time.substring(4,8) + current_time.substring(0,4);
    let time = current_time.substring(11, 19);
    return date + ' - ' + time;
  }
</script>
{% endblock scripts %}
